.about {
    padding-bottom: 3rem;
}

.about-item {
    background-color: white;
    border-radius: 5px;
    margin: 10rem auto 3rem auto;
    padding: 1rem;
    width: 80%;
}

.about-content {
    padding: 3rem;
}

.about-content h1 {
    text-align: center;
    line-height: 5.5rem;
}

.about-content p {
    white-space: pre-wrap;
    text-align: justify;
    font-size: 1.25rem;
}

@media (max-width: 650px) {
    .about-content {
        padding: 1rem;
    }
}