.beers-container {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items:center;
    margin: 0 auto;
    width: 80%;
    place-content: center;
}

@media (max-width: 940px) {
    .beers-container {
        grid-template-columns: 20rem 20rem;
    }
}

@media (max-width: 620px) {
    .beers-container {
        grid-template-columns: 20rem;
    }
}

.beers {
    background-color: white;
}

.title-1 {
    height: 100%;
}

.title-1 h1 {
    font-size: 5rem;
    text-align: center;
    margin: 8rem  auto 0 auto;
}

.title-1 .line {
    border-bottom: 3px;
}

/* Beer Item */

.item {
    text-align: center;
    max-width: 250px;
    min-width: 200px;
    margin: 1rem;
}

.item h2 {
    text-transform: uppercase;
    line-height: 2.5rem;
}

.item p {
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 1rem;
    
}

.beers-img-container {
    width: 4.7rem;
    height: 18.3rem;
    justify-content: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.beers-img-container img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.beer-buttons {
    padding-bottom: 1rem;
}

.item button {
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.item button:hover,
.beer-img-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Beer Container */

.beer-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: auto;
}