body {
    background-color:darksalmon;
  }
  
  /* Main page */
  
  .main {
    width: 20%;
    min-width: 200px;
    text-align: center;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .main-content {
    position: relative;
  }
  
  .main img {
    width: 100%;
  }
  
  .main h1 {
    font-family: 'League Gothic', sans-serif;
    font-size: 4.2vw;
    margin-top: 1rem;
  }
  
  .main p {
    position: absolute;
    top: 25%;
    left: -45%;
    
    transform: rotate(-90deg);
    font-size: 1vw;
    margin-bottom: 1rem;
  }
  
  .main button {
    display: inline-block;
    margin: 1rem 1rem;
    font-size: 2vw;    
  }
  
  @media (max-width: 600px) {

    .main {
      width: 25%;
      left: 15%;
    }
  
    .main h1 {
      font-size: 3rem;
    }
  
    .main p {
      top: 19%;
      left: -45%;
    }
  
    .main button {
      display: block;
      margin: 2rem auto;
      font-size: 1rem;
    }

}