.cook {
    background-color: white;
    margin: 1.5rem;
    border-radius: 5px;
}

.cook-item {
    position: relative;
    margin: 1 rem auto;
    padding: 1rem;
}

@media (min-width: 620px){
    .cook {
        position: relative;
        margin: 3rem auto;
        padding: 1rem;
        width: 60%;
        text-align: justify;
    }

    .cook-item {
        margin-bottom: 1rem;
    }
}

.cook-img-container {
    margin: 2rem auto 3rem auto;
    padding-top: 1.5rem;
    max-width: 750px;
}

.cook-img-container img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 7px;
}

@media (min-width: 620px){
    .cook-img-container {
        margin-top: 0.5rem;
    }
}

.cook h1,h2,h3 {
    text-align:center;
}

.beer h3, p {
    margin: 1rem auto;
}

.cook h1 {
    color: black;
    text-transform: uppercase;
    line-height: 4.5rem;
}

.cook h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}

.cook h3 {
    font-size: 2rem;
}

.preparation-grid {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-items:center;
    margin: 1rem auto 0 auto;
    width: 80%;
    place-content: center;
    text-align: center
}

.preparation-grid p {
    margin: 0;
    font-weight: 700;
}

.recipe-by, .author{
    text-align: right;
    padding-right: 1rem;
}

.author {
    margin-top: 0;
}

.cook-description{
    text-align: justify;
}

.cook ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cook ul li {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    list-style: inside;
}

.cook ol li {
    list-style: decimal;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    padding: 0.25rem;
    text-align: justify;
}

@media (min-width: 620px){
    .cook ul {
        width: 65%;
        margin: 0 auto 0 auto;
        font-size: 1.05rem;
    }

    .cook ol {
        width: 80%;
        margin: 0 auto 0 auto;
    }
}