.footer {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    min-height:50px;
    width: 100%;
    text-align: center;
    background-color: darksalmon;
    padding-top: 1rem;
}